<!DOCTYPE html>
<html>

<head>
    <title>Catalogger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        .container {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .screenshot {
            margin: 0.5em 0;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-md">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Catalogger</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a href="/" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/docs" class="nav-link active">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a href="/servers" class="nav-link">Manage servers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div>
            <h1>Catalogger</h1>
            <p>
                Catalogger is a logging bot for Discord that integrates with <a
                    href="https://pluralkit.me">PluralKit</a>&apos;s message proxying.
            </p>
            <p>In {{.GuildCount}} servers with {{.UserCount}} users!</p>

            <div class="btn-group" role="group" aria-label="Buttons">
                <a class="btn btn-primary" href="/login?add=true" role="button">Add Catalogger to your server</a>
                <a class="btn btn-secondary" href="/servers" role="button">Manage your servers</a>
                {{if .SupportServer}}
                <a class="btn btn-secondary" href="{{.SupportServer}}" role="button">Support server</a>
                {{end}}
            </div>
        </div>

        <hr>

        <div>
            <p>Catalogger adds extra information to edited and deleted messages: system ID, member ID, and the linked
                account. It also ignores messages that trigger proxies, so your deleted message logs will be free of
                duplicate messages 🙂</p>

            <p>It also shows system information for new members joining your server, and can notify you if an account
                linked to a banned system joins your server. Which invite a member used is also logged.</p>
        </div>

        <div class="row">
            <div class="col-md-4 screenshot">
                <div class="card">
                    <img src="/static/static/deleted-message.png" alt="A deleted message log">
                    <div class="card-body">
                        <h5 class="card-title">Deleted message logging</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 screenshot">
                <div class="card">
                    <img src="/static/static/edited-message.png" alt="An edited message log">
                    <div class="card-body">
                        <h5 class="card-title">Edited message logging</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 screenshot">
                <div class="card">
                    <img src="/static/static/join-log.png" alt="A join log">
                    <div class="card-body">
                        <h5 class="card-title">Member join and leave logging</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 screenshot">
                <div class="card">
                    <img src="/static/static/ban.png" alt="A join log">
                    <div class="card-body">
                        <h5 class="card-title">Ban and unban logging</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4 screenshot">
                <div class="card">
                    <img src="/static/static/banned-warn.png" alt="A join log">
                    <div class="card-body">
                        <h5 class="card-title">Track banned systems' linked accounts</h5>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <footer>
            <p>
                <a href="/privacy">Privacy</a>
                &middot;
                <a href="https://github.com/starshine-sys/catalogger">Source code</a>
            </p>
        </footer>
    </div>
</body>

</html>