<!DOCTYPE html>
<html>

<head>
    <title>{{.Guild.Name}} - Catalogger</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-dark-5@1.1.3/dist/css/bootstrap-dark.min.css" rel="stylesheet">

    <style>
        .dropdown-menu {
            max-height: 30em;
            overflow-y: auto;
        }

        .channel-entry {
            padding: 0.5em 0;
        }

        .container {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    </style>
</head>

<body>
    <nav class="navbar sticky-top navbar-dark bg-dark navbar-expand-md">
        <div class="container-fluid">
            <a href="/" class="navbar-brand">Catalogger</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/docs" class="nav-link">Documentation</a>
                    </li>
                    <li class="nav-item">
                        <a href="/privacy" class="nav-link">Privacy</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="serverListLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Your servers
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="serverListLink">
                            <li><a class="dropdown-item" href="/servers">Server list</a></li>
                            {{if .JoinedGuilds}}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <h6 class="dropdown-header">Servers you can manage</h6>
                            </li>
                            {{end}}
                            {{range .JoinedGuilds}}
                            <li><a class="dropdown-item {{if (eq .ID $.Guild.ID)}}active{{end}}"
                                    href="{{.Link}}">{{.Name}}</a></li>
                            {{end}}
                            {{if .UnjoinedGuilds}}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <h6 class="dropdown-header">Servers you can add Catalogger to</h6>
                            </li>
                            {{end}}
                            {{range .UnjoinedGuilds}}
                            <li><a class="dropdown-item" href="{{.Link}}">{{.Name}}</a></li>
                            {{end}}
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="accountMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{.User.AvatarURL}}" alt="Your avatar"
                                style="border-radius: 0.75em; height: 1.5em;">
                            {{.User.Username}}#{{.User.Discriminator}}
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="accountMenuLink">
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        Default log channels
                    </div>
                    <div class="card-body">
                        <form action="/servers/{{.Guild.ID}}/save-channels" method="post"
                        onsubmit="sendChannels(event, this)">
                        <h5>Messages</h5>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="MESSAGE_UPDATE" name="MESSAGE_UPDATE" class="form-select"
                                    aria-label="Edited messages">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.MESSAGE_UPDATE}}
                                </select>
                                <label for="MESSAGE_UPDATE">Edited messages</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="MESSAGE_DELETE" name="MESSAGE_DELETE" class="form-select"
                                    aria-label="Deleted messages">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.MESSAGE_DELETE}}
                                </select>
                                <label for="MESSAGE_DELETE">Deleted messages</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="MESSAGE_DELETE_BULK" name="MESSAGE_DELETE_BULK"
                                    aria-describedby="messageDeleteBulkHelp" class="form-select"
                                    aria-label="Bulk deleted messages">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.MESSAGE_DELETE_BULK}}
                                </select>
                                <label for="MESSAGE_DELETE_BULK">Bulk deleted messages</label>
                            </div>
                            <div id="messageDeleteBulkHelp" class="form-text">
                                Logs messages that are bulk deleted, such as
                                with Carl-bot's <code>!purge</code> command.
                            </div>
                        </div>

                        <h5>Members</h5>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_MEMBER_ADD" name="GUILD_MEMBER_ADD" aria-describedby="memberAddHelp"
                                    class="form-select" aria-label="Members joining">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_MEMBER_ADD}}
                                </select>
                                <label for="GUILD_MEMBER_ADD">Members joining</label>
                            </div>
                            <div id="memberAddHelp" class="form-text">
                                Logs new members joining the server, along with their
                                PluralKit system if they have one.
                            </div>
                        </div>


                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_MEMBER_REMOVE" name="GUILD_MEMBER_REMOVE" class="form-select"
                                    aria-label="Members leaving">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_MEMBER_REMOVE}}
                                </select>
                                <label for="GUILD_MEMBER_REMOVE">Members leaving</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_MEMBER_KICK" name="GUILD_MEMBER_KICK" class="form-select"
                                    aria-label="Members leaving">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_MEMBER_KICK}}
                                </select>
                                <label for="GUILD_MEMBER_KICK">Members being kicked</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_BAN_ADD" name="GUILD_BAN_ADD" class="form-select" aria-label="Bans"
                                    aria-describedby="banHelp">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_BAN_ADD}}
                                </select>
                                <label for="GUILD_BAN_ADD">Bans</label>
                            </div>
                            <div id="banHelp" class="form-text">
                                Logs users being banned, along with their PluralKit system
                                if they have one. If a banned PluralKit system joins the server, a warning will be
                                attached to the message.
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_BAN_REMOVE" name="GUILD_BAN_REMOVE" class="form-select"
                                    aria-label="Unbans">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_BAN_REMOVE}}
                                </select>
                                <label for="GUILD_BAN_REMOVE">Unbans</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_MEMBER_UPDATE" name="GUILD_MEMBER_UPDATE" class="form-select"
                                    aria-label="Member role changes">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_MEMBER_UPDATE}}
                                </select>
                                <label for="GUILD_MEMBER_UPDATE">Member role changes</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_KEY_ROLE_UPDATE" name="GUILD_KEY_ROLE_UPDATE" aria-describedby="keyroleHelp"
                                    class="form-select" aria-label="Key roles">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_KEY_ROLE_UPDATE}}
                                </select>
                                <label for="GUILD_KEY_ROLE_UPDATE">Key roles</label>
                            </div>
                            <div id="keyroleHelp" class="form-text">
                                Logs key roles (configurable through the bot) being added and removed from users, along with <em>who</em> added or removed them.
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_MEMBER_NICK_UPDATE" name="GUILD_MEMBER_NICK_UPDATE"
                                    class="form-select" aria-label="Member name/avatar changes">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_MEMBER_NICK_UPDATE}}
                                </select>
                                <label for="GUILD_MEMBER_NICK_UPDATE">Member name/avatar changes</label>
                            </div>
                        </div>

                        <h5>Server changes</h5>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="INVITE_CREATE" name="INVITE_CREATE" class="form-select"
                                    aria-label="Created invites">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.INVITE_CREATE}}
                                </select>
                                <label for="INVITE_CREATE">Created invites</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="INVITE_DELETE" name="INVITE_DELETE" class="form-select"
                                    aria-label="Deleted invites">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.INVITE_DELETE}}
                                </select>
                                <label for="INVITE_DELETE">Deleted invites</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="CHANNEL_CREATE" name="CHANNEL_CREATE" class="form-select"
                                    aria-label="Created channels">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.CHANNEL_CREATE}}
                                </select>
                                <label for="CHANNEL_CREATE">Created channels</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="CHANNEL_UPDATE" name="CHANNEL_UPDATE" class="form-select"
                                    aria-label="Edited channels">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.CHANNEL_UPDATE}}
                                </select>
                                <label for="CHANNEL_UPDATE">Edited channels</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="CHANNEL_DELETE" name="CHANNEL_DELETE" class="form-select"
                                    aria-label="Deleted channels">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.CHANNEL_DELETE}}
                                </select>
                                <label for="CHANNEL_DELETE">Deleted channels</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_ROLE_CREATE" name="GUILD_ROLE_CREATE" class="form-select"
                                    aria-label="Created roles">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_ROLE_CREATE}}
                                </select>
                                <label for="GUILD_ROLE_CREATE">Created roles</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_ROLE_UPDATE" name="GUILD_ROLE_UPDATE" class="form-select"
                                    aria-label="Edited roles">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_ROLE_UPDATE}}
                                </select>
                                <label for="GUILD_ROLE_UPDATE">Edited roles</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_ROLE_DELETE" name="GUILD_ROLE_DELETE" class="form-select"
                                    aria-label="Deleted roles">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_ROLE_DELETE}}
                                </select>
                                <label for="GUILD_ROLE_DELETE">Deleted roles</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_UPDATE" name="GUILD_UPDATE" class="form-select"
                                    aria-label="Server updates">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_UPDATE}}
                                </select>
                                <label for="GUILD_UPDATE">Server updates</label>
                            </div>
                        </div>

                        <div class="channel-entry">
                            <div class="form-floating">
                                <select id="GUILD_EMOJIS_UPDATE" name="GUILD_EMOJIS_UPDATE" class="form-select" aria-label="Changes to emotes">
                                    {{selectOptions .Guild.Channels $.CurrentChannels.GUILD_EMOJIS_UPDATE}}
                                </select>
                                <label for="GUILD_EMOJIS_UPDATE">Changes to emotes</label>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success">Save</button>
                    </form>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        Redirected channels
                    </div>
                    <div class="card-body">
                    <form action="/servers/{{.Guild.ID}}/add-redirect" method="post"
                        onsubmit="addRedirect(event, this)">
                        <h5>Add a redirect</h5>
                        <div class="row">
                            <div class="col">
                                <div class="form-floating">
                                    <select id="from-channel" class="form-select" aria-label="From channel"
                                        name="from-channel">
                                        {{selectOptionsIgnoreMultiple .Guild.Channels $.RedirectedChannels}}
                                    </select>
                                    <label for="from-channel">From</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <select id="to-channel" class="form-select" aria-label="To channel"
                                        name="to-channel">
                                        {{selectOptions .Guild.Channels 0}}
                                    </select>
                                    <label for="to-channel">To</label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success">Add redirect</button>
                    </form>
                    <hr />
                    <div class="redirects">
                        <h5>Currently redirected channels</h5>
                        <ul id="redirectList">
                            {{range .Redirects}}
                            <li id="{{.From.ID}}">#{{.From.Name}} logging to #{{.To.Name}} <a
                                    href="/servers/{{$.Guild.ID}}/delete-redirect/{{.From.ID}}"
                                    onclick="delRedirect(this.parentElement.id, this.href, event)">(delete)</a></li>
                            {{end}}
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        <footer>
            <p>
                <a href="/privacy">Privacy</a>
                &middot;
                <a href="https://github.com/starshine-sys/catalogger">Source code</a>
            </p>
        </footer>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3">
        <div class="toast hide align-items-center text-white bg-success" role="alert" aria-live="assertive"
            aria-atomic="true" id="saveChannelSuccess">
            <div class="d-flex">
                <div class="toast-body">
                    Successfully saved log channels!
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div class="toast hide align-items-center text-white bg-danger" role="alert" aria-live="assertive"
            aria-atomic="true" id="saveChannelError">
            <div class="d-flex">
                <div class="toast-body">
                    An error occurred while saving log channels.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div class="toast hide align-items-center text-white bg-success" role="alert" aria-live="assertive"
            aria-atomic="true" id="ignoreChannelSuccess">
            <div class="d-flex">
                <div class="toast-body">
                    Successfully saved ignored channels!
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div class="toast hide align-items-center text-white bg-danger" role="alert" aria-live="assertive"
            aria-atomic="true" id="ignoreChannelError">
            <div class="d-flex">
                <div class="toast-body">
                    An error occurred while saving ignored channels.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div class="toast hide align-items-center text-white bg-success" role="alert" aria-live="assertive"
            aria-atomic="true" id="addRedirectSuccess">
            <div class="d-flex">
                <div class="toast-body">
                    Successfully added redirect!
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div class="toast hide align-items-center text-white bg-danger" role="alert" aria-live="assertive"
            aria-atomic="true" id="addRedirectError">
            <div class="d-flex">
                <div class="toast-body">
                    An error occurred while adding that redirect.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div class="toast hide align-items-center text-white bg-success" role="alert" aria-live="assertive"
            aria-atomic="true" id="delRedirectSuccess">
            <div class="d-flex">
                <div class="toast-body">
                    Successfully removed redirect!
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>

        <div class="toast hide align-items-center text-white bg-danger" role="alert" aria-live="assertive"
            aria-atomic="true" id="delRedirectError">
            <div class="d-flex">
                <div class="toast-body">
                    An error occurred while removing that redirect.
                </div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script>
        function sendChannels(e, form) {
            fetch(form.action, { method: 'post', body: new FormData(form), credentials: 'same-origin' })
                .then(resp => {
                    let toast;

                    if (resp.ok) {
                        toast = new bootstrap.Toast(document.getElementById('saveChannelSuccess'))
                    } else {
                        toast = new bootstrap.Toast(document.getElementById('saveChannelError'))
                    }

                    toast.show();
                })
                .catch(e => console.log(e));

            e.preventDefault();
        }

        // function ignoreChannels(e, form) {
        //     console.log("Setting ignored channels...")

        //     fetch(form.action, { method: 'post', body: new FormData(form), credentials: 'same-origin' })
        //         .then(resp => {
        //             let toast;

        //             if (resp.ok) {
        //                 toast = new bootstrap.Toast(document.getElementById('ignoredChannelSuccess'))
        //             } else {
        //                 toast = new bootstrap.Toast(document.getElementById('ignoredChannelError'))
        //             }

        //             toast.show();
        //         })
        //         .catch(e => console.log(e));

        //     e.preventDefault();
        // }

        function addRedirect(e, form) {
            fetch(form.action, { method: 'post', body: new FormData(form), credentials: 'same-origin' })
                .then(resp => {
                    let toast;

                    if (resp.ok) {
                        toast = new bootstrap.Toast(document.getElementById('addRedirectSuccess'))

                        resp.json().then(data => {
                            const node = document.getElementById('redirectList');
                            node.insertAdjacentHTML('beforeend', `<li id="${data.from.id}">#${data.from.name} logging to ${data.to.name} <a
                                    href="/servers/${data.guild_id}/delete-redirect/${data.from.id}" onclick="delRedirect(this.parentElement.id, this.href, event)">(delete)</a></li>`)
                        });
                    } else {
                        toast = new bootstrap.Toast(document.getElementById('addRedirectError'))
                    }

                    toast.show();
                })
                .catch(e => console.log(e));

            e.preventDefault();
        }

        function delRedirect(id, url, e) {
            fetch(url, { method: 'post', credentials: 'same-origin' })
                .then(resp => {
                    let toast;

                    if (resp.ok) {
                        toast = new bootstrap.Toast(document.getElementById('delRedirectSuccess'))

                        const node = document.getElementById(id);
                        node.remove()
                    } else {
                        toast = new bootstrap.Toast(document.getElementById('delRedirectError'))
                    }

                    toast.show();
                })
                .catch(e => console.log(e))

            e.preventDefault();
        }
    </script>
</body>

</html>